section#notFound {
  background-image: url('../../assets/images/notFound.jpg');
  background-size: cover;
}

.container {
  min-height: 600px;
  width: 50%;
}

h3, h5 {
  color:white;
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 768px){
  .container {
    width: 90%;
    min-height: 500px;
  }
}
