<nav class="navbar navbar-expand-lg navbar-dark navbar-custom header2 cabecera">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">My Referral Budapest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mt-2 mt-md-0 text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresas']">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/puestos']">Puestos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/myreferral']">My Referral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/budapest']">Budapest</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-white btn-outline" [routerLink]="['/contact']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
