<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-6 text-center mt-2 mb-3 pt-1">
      <ul class="list-inline listaFooter mb-2">
              <li class="list-inline-item">
                <a class="text-muted" href="#">About</a>
              </li>
              <li class="list-inline-item"> - </li>
              <li class="list-inline-item">
                <a class="text-muted" [routerLink]="['/contact']">Contact</a>
              </li>
              <li class="list-inline-item"> - </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item"> - </li>
              <li class="list-inline-item">
                <a class="text-muted" href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; myreferrallbudapest 2018. All Rights Reserved.</p>
    </div>
    <div class="col-md-6 text-center mb-4">
      <ul class="social mt-3">
        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>
