<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-6 text-center mt-2 mb-3 pt-1">
      <p class="copyright mt-3">Copyright &copy; MyReferralBudapest. All rights reserved.</p>
    </div>
    <div class="col-md-6 text-center mb-4">
      <ul class="social mt-3">
        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>
