<section class="contact-2">
  <div class="container">
    <div class="row contact-details">
      <div class="col-sm-8 m-auto text-center">
        <h2>Contacta con nosotros</h2>
        <p class="lead constrain-width mt-4">Déjanos tu mensaje y te responderemos lo antes posible.</p>
        <div class="divider"></div>
        <form class="contact-form mt-4">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" placeholder="Nombre" required>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control-custom mb-4" placeholder="Email" required>
            </div>
            <br />
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea class="form-control-custom mb-4" rows="3" placeholder="Mensaje" required></textarea><br />
              <button type="submit" class="btn btn-primary btn-lg mb-4">Enviar</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
