<div class="container animated fadeIn">
  <div class="row">
    <div class="col-12 text-center p-3">
      <h3>Empresas</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive ">
        <table id="tablaEmpresas" class="table table-dark thead-inverse table-bordered">
          <thead>
          <tr class="">
            <td>Nombre</td>
            <td>Sector</td>
            <td>Descripción</td>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas">
            <td class="align-middle">{{empresa.nombre}}</td>
            <td class="align-middle">{{empresa.sector}}</td>
            <td class="align-middle">{{empresa.descripcion}}</td>
            <td class="align-middle"><a href="" class="btn btn-danger" data-toggle="modal" data-target="#eliminarEmpresa" (click)="obtenerEmpresa(empresa)">Eliminar</a></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center p-3">
      <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalEmpresa">Añadir</a>
    </div>
  </div>
</div>

  <!-- Modal nueva empresa -->

  <div class="modal fade" id="modalEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Añadir empresa</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body text-center">
          <div class="md-form mb-5">
            <input type="text" [(ngModel)]="nombreEmpresa" placeholder="Nombre de la empresa" required>
          </div>

          <div class="md-form mb-5">
            <input type="text" [(ngModel)]="sectorEmpresa" placeholder="Sector de la empresa" required>
          </div>

          <div class="md-form mb-5">
            <textarea [(ngModel)]="descripcionEmpresa" rows="6" placeholder="Descripción de la empresa" required></textarea>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" (click)="guardarEmpresa()" data-dismiss="modal" aria-label="Close">Aceptar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal confirmación borrado -->

  <div class="modal fade" id="eliminarEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Eliminar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body text-center">
          <p>¿Está seguro de que desea elimiar este registro?</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" (click)="eliminarDato()" data-dismiss="modal" aria-label="Close">Aceptar</button>
          <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
