section#oferta {
  background-image: url('../../assets/images/cover-empresas.png');
  background-size: cover;
}

.container {
  min-height: 550px;
  padding: 20px;
  margin-top: 10px;
}

.row {
  margin-bottom: 20px;
}

svg, .fa-undo-alt:hover {
  color: #59a0d7;
}

.fa-undo-alt {
  color: rgba(33, 37, 41, 0.9);
}

p, i {
  font-size: 1em;
}

input, textarea {
  width: 80%;
  padding: 1%;
}

@media (max-width: 768px) h3 {
  h3 {
    font-size: 1.8em !important;
  }
  .row {
    margin-bottom: 10px;
  }
  section#empresa {
    background-image: url('../../assets/images/cover-empresasMovil.png');
    background-size: cover;
  }
}
