section#empresa{
  background-image: url('../../assets/images/cover-empresas.png');
  background-size: cover;
}

.container {
  min-height: 550px;
}

h4 {
  margin-bottom: 20px;
}

img {
  width: 20%;
  height: auto;
}

@media (max-width: 768px){
  img {
    width: 75%;
  }
  section#empresa{
    background-image: url('../../assets/images/cover-empresasMovil.png');
    background-size: cover;
  }
}
