.jumbotron {
  margin-bottom: 0;
}

.jumbotron1 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: rgb(255, 255, 255);
}

.jumbotron2 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: #e9ecef;
}

.jumbotron3 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .jumbotron h2 {
    font-size: 1.2em;
  }
}
