<div class="jumbotron jumbotron1">
  <div class="container">
    <h2>ORIGEN Y FUNCIONAMIENTO</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus impedit, blanditiis aut ipsam, dignissimos hic fugit nulla cumque eaque sed quas, expedita praesentium consequatur assumenda voluptatem temporibus incidunt doloribus?</span><span>Obcaecati doloremque mollitia suscipit vel illo quo vero natus ut assumenda saepe ab, tenetur aliquid quae placeat sequi dolorum recusandae corporis ad animi blanditiis necessitatibus velit? Nulla earum molestias molestiae.</span></p>
    <p><button class="btn btn-primary btn-lg" href="#" role="button" disabled>Learn more &raquo;</button></p>
  </div>
</div>

<div class="jumbotron jumbotron2 text-right">
  <div class="container">
    <h2>VENTAJAS - BENEFICIOS</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed omnis voluptatem magnam, vel commodi possimus repellendus earum nobis dolor, cupiditate qui tempora dolore perferendis corrupti ratione delectus harum, quas quaerat!</span><span>Natus delectus, eum error et non rem quod suscipit quidem illum saepe ipsum voluptatibus eaque aliquam, perspiciatis veniam repudiandae nihil, velit incidunt tempore? Dignissimos asperiores exercitationem ipsa unde deleniti, nemo?</span></p>
    <p><button class="btn btn-primary btn-lg" href="#" role="button" disabled>Learn more &raquo;</button></p>
  </div>
</div>

<div class="jumbotron jumbotron3">
  <div class="container">
    <h2>VÍDEO EXPLICATIVO</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum, minima quasi maxime, obcaecati iure reiciendis cum ad amet rem tenetur accusamus, deleniti eum eius nemo quia voluptatibus doloremque perspiciatis.</span><span>Enim, eos blanditiis quia eveniet animi, nihil ratione modi pariatur a ad. Quaerat, perferendis iusto animi temporibus placeat veritatis est alias. Ratione accusamus delectus quod ut magni tempora molestias nisi.</span></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" disabled data-toggle="modal" data-target="#modal-video">Learn more &raquo;</a></p>
  </div>
</div>

<div class="jumbotron jumbotron4 text-center">
  <div class="container">
    <h2>ESTADÍSTICAS</h2>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <div class="row text-center mt-5 estadisticas">
      <div class="col-md-4 mb-3 service-heading1 ">
        <h3 class="mb-2"><span>80%</span></h3>
        <p class="text-muted">de los entrevistados son contratados</p>
      </div>
      <div class="col-md-4 mb-3 service-heading2">
        <h3 class="mb-2"><span>120</span></h3>
        <p class="text-muted">nuevos empleos cada mes</p>
      </div>
      <div class="col-md-4 mb-3 service-heading3">
        <h3 class="mb-2"><span>1500</span></h3>
        <p class="text-muted"> euros de sueldo medio en Budapest</p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/toInrudPEVY"
                                allow="autoplay" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
