.jumbotron {
  margin-bottom: 0;
}

.jumbotron1 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: rgb(255, 255, 255);
}

.jumbotron2 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: #e9ecef;
}

.jumbotron3 {
  /* background-image: url('assets/images/cover-bg-1.jpg');
  background-size: cover; */
  background-color: rgb(255, 255, 255);
}

.jumbotron4 span {
  color: #59a0d7;
  font-size: 2em;
}

.service-heading1, .service-heading3, .service-heading3 {
  animation-duration: 1.2s;
}

.service-heading1 {
  animation-delay: 1s;
}

.service-heading2 {
  animation-delay: 2s;
}

.service-heading3 {
  animation-delay: 3s;
}

@media screen and (max-width: 768px) {
  .jumbotron h2 {
    font-size: 1.2em;
  }
}

/***** Modal *****/

.modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7;
}

.modal-content {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {
  padding: 0 25px 25px 25px;
}

.modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}

.modal-dialog {
  max-width: 60%;
}

@media (max-width: 768px){
  .modal-dialog {
    max-width: 100%;
  }
}
