<div class="container-fluid">
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>MyReferral</h3>
        <h4>Dashboard</h4>
      </div>
      <ul class="list-unstyled components">
        <li [ngClass]="{active: pagina == 'inicio'}">
          <a (click)="changePage('inicio')">Inicio</a>
        </li>
        <li [ngClass]="{active: pagina == 'empresas'}">
          <a (click)="changePage('empresas')">Empresas</a>
        </li>
        <li [ngClass]="{active: pagina == 'puestos'}">
          <a (click)="changePage('puestos')">Vacantes</a>
        </li>
        <li [ngClass]="{active: pagina == 'usuarios'}">
          <a (click)="changePage('usuarios')">Usuarios</a>
        </li>
        <li>
          <a [routerLink]="['/']">Volver al Home</a>
        </li>
      </ul>
    </nav>
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="row" style="width: 100%;">
            <div class="col-9 text-left">
              <div class="navbar-header">
                <button class="btn btn-outline-white" id="sidebarCollapse">Menú</button>
              </div>
            </div>
            <div class="col-3 text-right">
              <button class="btn btn-outline-white" (click)="cerrarSesion()">Log Out</button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Page</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Dashboard body -->

      <div class="container" *ngIf="pagina == 'inicio'">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Panel de administración</h2>
          </div>
        </div>
        <div class="row text-center p-5">
          <div class="col-12 col-md-4">
            <div class="recuadro" (click)="changePage('empresas')">
              <i class="fas fa-globe fa-4x"></i>
              <p>Empresas</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="recuadro" (click)="changePage('puestos')">
              <i class="far fa-file-alt fa-4x"></i>
              <p>Vacantes</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="recuadro" (click)="changePage('usuarios')">
              <i class="fas fa-users fa-4x"></i>
              <p>Usuarios</p>
            </div>
          </div>
        </div>
      </div>
      <app-dashboard-user *ngIf="pagina == 'usuarios'"></app-dashboard-user>
      <app-dashboard-empresas *ngIf="pagina == 'empresas'"></app-dashboard-empresas>
      <app-dashboard-puestos *ngIf="pagina == 'puestos'"></app-dashboard-puestos>

      <!-- End Dashboard Body -->
    </div>
  </div>
</div>
