<section class="features-1 text-center">
  <app-budapest-slider></app-budapest-slider>
  <div class="container mt-5">
    <h2>Budapest</h2>
    <div class="divider"></div>
    <div class="row">
      <div class="col-md-6 col-lg-3 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-info"></em>
        </div>
        <h4>Información</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursu.</p>
        <p><a class="btn btn-outline-primary mt-2" [routerLink]="['/budapest/info']" role="button">Más información</a></p>
      </div>
      <div class="col-md-6 col-lg-3 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fas fa-2x fa-eye"></em>
        </div>
        <h4>Qué ver y hacer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
        <p><a class="btn btn-outline-primary mt-2" [routerLink]="['/budapest/ver']" role="button">Más información</a></p>
      </div>
      <div class="col-md-6 col-lg-3 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-subway"></em>
        </div>
        <h4>Transporte</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
        <p><a class="btn btn-outline-primary mt-2" [routerLink]="['/mantenimiento']" role="button">Más información</a></p>
      </div>
      <div class="col-md-6 col-lg-3 col-feature">
        <div class="rounded-circle justify-center">
          <em class="fa fa-2x fa-bed"></em>
        </div>
        <h4>Alojamiento</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
        <p><a class="btn btn-outline-primary mt-2" [routerLink]="['mantenimiento']" role="button">Más información</a></p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container-fluid mapaBudapest mb-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80255.54850637756!2d19.04147535241702!3d47.494450363535194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c334d1d4cfc9%3A0x400c4290c1e1160!2sBudapest%2C+Hungr%C3%ADa!5e0!3m2!1ses!2ses!4v1522965509743"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
