<section class="cover-1 text-center">
  <app-header-main></app-header-main>
  <div class="cover-container pb-5">
    <div class="cover-inner container">
      <h1 class="jumbotron-heading animated fadeInDown">El camino más inteligente para conseguir empleo</h1>
      <br><br><br>
      <p class="animated fadeInUp">
        <a href="#" class="btn btn-success btn-lg mb-2 mr-2 ml-2">Referral Buddy</a>
        <a href="#" class="btn btn-primary btn-lg mb-2 ml-2 ml-2">Busco trabajo</a>
      </p>
    </div>
  </div>
</section>
