<app-budapest-slider></app-budapest-slider>
<h3 class="text-center mt-5">Información general</h3>
<div class="divider"></div>
<div class="container p-0 mb-5">

  <div id="accordion">
	<h3><i class="fa fa-file-alt"></i>&nbsp;&nbsp;&nbsp;Documentación</h3>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
	<h3><i class="fa fa-dollar-sign"></i>&nbsp;&nbsp;&nbsp;Precio</h3>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
	<h3><i class="fa fa-utensils"></i>&nbsp;&nbsp;&nbsp;Comida</h3>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
	<h3><i class="fa fa-globe"></i>&nbsp;&nbsp;&nbsp;Idioma</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
  <h3><i class="fa fa-smile"></i>&nbsp;&nbsp;&nbsp;Días festivos</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
  <h3><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Ciudad y país</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
  <h3><i class="fa fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;Moneda</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
  <h3><i class="fa fa-sun"></i>&nbsp;&nbsp;&nbsp;El tiempo</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
  <h3><i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Trabajo</h3>
	<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
	</div>
</div>
<div class="text-center"><a [routerLink]="['/budapest']"><i class="fas fa-2x fa-undo-alt"></i></a></div>

</div>
