<app-budapest-slider></app-budapest-slider>
<section>
  <h3 class="text-center mt-5">Información general</h3>
  <div class="divider"></div>
  <div class="container p-0 mb-5">

    <div id="accordion">
      <h3><i class="fa fa-file-alt"></i>&nbsp;&nbsp;&nbsp;Documentación</h3>
      <div>
        <p><strong>Ciudadanos españoles</strong>
        </p>
        <p>Los ciudadanos nacionales españoles pueden entrar a Hungría llevando consigo el pasaporte o el DNI indistintamente. No se requiere ningún tipo de visado. </p>
        <p><strong>Países de la Unión Europea y del Espacio Económico Europeo</strong></p>
        <p>Desde que Hungría entró en la Unión Europea en el año 2004, los nacionales de todos los países de la UE y del EEE (Espacio Económico Europeo) pueden acceder al país sin obtener ningún visado. </p>
        <p><strong>Otros países exentos de visado</strong> </p>
        <p>Para estancias inferiores a 90 días, los nacionales de los siguientes países tan sólo necesitan tener un pasaporte válido: </p>
        <p>Andorra, Argentina, Australia, Brasil, Brunei, Canadá, Chile, Ciudad del Vaticano, Colombia, Costa Rica, Croacia, Colombia, El Salvador, Estados Unidos, Guatemala, Honduras, Hong Kong, Israel, Japón, Macao, Malasia, México, Mónaco, Nicaragua,
          Nueva Zelanda, Panamá, Perú, Paraguay, República de Corea, San Marino, Suiza, Singapur, Uruguay y Venezuela.
        </p>
      </div>
      <h3><i class="fa fa-dollar-sign"></i>&nbsp;&nbsp;&nbsp;Precio</h3>
      <div>
        <p>Los precios en Budapest son bastante más económicos que los de otras capitales europeas.</p>
        <p>Os damos algunos ejemplos de los precios de Budapest para que podáis elaborar vuestro presupuesto:</p>
          <ul class="ml-4">
            <li>Billete sencillo de transporte: 350 florines húngaros.</li>
            <li>Abono de transporte de tres días: 4.150Ft.</li>
            <li>Pizza para llevar: 1.000Ft.</li>
            <li>Cena para dos personas en un restaurante estándar: Sin vino, a partir de 4.000Ft.</li>
            <li>Habitación doble en un hotel céntrico: A partir de 40€ la noche.</li>
            <li>Trayecto en taxi desde el Aeropuerto Ferihegy: Entre 3.600 y 5.800Ft.</li>
          </ul>
      </div>
      <h3><i class="fa fa-utensils"></i>&nbsp;&nbsp;&nbsp;Comida</h3>
      <div>
        <p><strong>Platos típicos</strong></p>
        <p>La carne es la reina de los menús y sabores como la paprika y la cebolla son el denominador común de los platos típicos. Si os gusta el vino, hay muchos vinos húngaros entre los que destacan Villány, Eger y Szekszárd. Si tenemos que elegir el plato más común de Hungría, éste sería la sopa goulash. Esta sopa consta básicamente de carne, verduras y, cómo no, paprika.</p>
      </div>
      <h3><i class="fa fa-globe"></i>&nbsp;&nbsp;&nbsp;Idioma</h3>
      <div>
        <p>El idioma oficial de Budapest es el Húngaro. A excepción de unas pocas palabras, se trata de un idioma totalmente distinto al español y al inglés.</p>
        <p>Hola -> Szia</p>
      </div>
      <h3><i class="fa fa-smile"></i>&nbsp;&nbsp;&nbsp;Días festivos</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
      </div>
      <h3><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Ciudad y país</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
      </div>
      <h3><i class="fa fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;Moneda</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
      </div>
      <h3><i class="fa fa-sun"></i>&nbsp;&nbsp;&nbsp;El tiempo</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
      </div>
      <h3><i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Trabajo</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsum quod, veniam officiis ratione architecto illo mollitia, omnis! Quis voluptatum optio, repellat. Saepe quaerat cum reiciendis consectetur odit, illo dolorum.</p>
      </div>
    </div>
    <div class="text-center"><a [routerLink]="['/budapest']"><i class="fas fa-2x fa-undo-alt"></i></a></div>

  </div>
</section>
